#cloud-config

coreos:
  update:
    reboot-strategy: "off"

  etcd2:
    name: __ETCD_NODE_NAME__
    initial-cluster: __ETCD_INITIAL_CLUSTER__
    advertise-client-urls: http://__COREOS_PRIVATE_IPV4__:2379
    listen-client-urls: http://0.0.0.0:2379
    initial-advertise-peer-urls: http://__COREOS_PRIVATE_IPV4__:2380
    listen-peer-urls: http://__COREOS_PRIVATE_IPV4__:2380

  units:

  - name: etcd2.service
    command: start
